<!DOCTYPE html>
<html lang="en">
<head><%- include ('./partials/head'); %></head>
<body class="bg-gray-900">
  <section class="w-full flex min-h-screen items-center justify-center dark:bg-gray-800"> 
    <div class="w-full xl:w-1/2 relative shadow-md sm:rounded-lg p-5">
       <form action="/register" method="POST">
              <h1 class="text-white text-2xl mb-2"><i class="fa-solid fa-pencil"></i> Cadastrando cliente </h1>
                              <%- include ('./partials/form_fields', {vendo: "", nome: "", documento: "",
                    tipodocumento: "", logradouro: "",
                    bairro: "", cidade: "", uf: "", numero: "" }); %>
                <div class="flex justify-end">
                    <a href="/">
                        <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Cancelar</button>
                    </a>
                    <a>
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar</button>
                    </a>
                </div>
       </form>
    </div>
  </section>
</body>
</html>